<div id="header">
    <div id="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt="LOGO" height="112" width="118"></a>
    </div>
    <div class="loginBtn"><a routerLink='login'>Admin Login</a></div>
    <div id="navigation">
        <ul>
            <li >
                <a routerLink='' routerLinkActive="selected" [routerLinkActiveOptions]={exact:true}>Home</a>
            </li>
            <li>
                <a routerLink='about' routerLinkActive="selected">About</a>
            </li>
            <li>
                <a routerLink='rooms' routerLinkActive="selected">Rooms</a>
            </li>
            <li>
                <a routerLink='dives' routerLinkActive="selected">Dive Site</a>
            </li>
            <li>
                <a routerLink='foods' routerLinkActive="selected">Food</a>
            </li>
            <li>
                <a routerLink='news' routerLinkActive="selected">News</a>
            </li>
            <li>
                <a routerLink='contact' routerLinkActive="selected">Contact</a>
            </li>
        </ul>
    </div>
</div>
