
		<div id="page">
			
			
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>About</h1>
							<h2>ALL IN ONE RESORT</h2>
							<p>
								Beach resorts evolve from natural contexts through the expansion of accommodation and other recreational functions. With greater size they lose their natural characteristics and become increasingly urbanized. The transition from natural to urban resort is often rapid, with some beach resorts being transformed into cities in less than two decades. The large numbers of international and domestic tourists that frequent beach resorts provide economic opportunities for governments, businesses and those seeking employment
							</p>
							<p>
								At the same time, the dynamics of rapid urbanization are frequently accompanied by major changes in social, environmental and political contexts.
							</p>
							<hr>
							<div class="ads">
								<h2>Our Crews</h2>
								<p>
									We have best hotel management team in our resort which are ready to serve you 24/7
								</p>
								<h2>Amenities</h2>
								<p>
									We have kids club , 4 big size pools, free wifi, plenty of food dishes and many more!!
								</p>
							</div>
							<h2>Weekend Gateway</h2>
							<p>
								Book our special weekend including a complimentary breakfast and enjoy great discounts on food and and beverages.
							</p>
							<h2>Wedding Packages</h2>
							<p>
								Planning to get married in Goa? Riva is considered one of the best resorts for a destination wedding in Goa Every will be done by us just be guest in your own wedding  
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		


