
		<div id="page">
			
			<div id="contents">
				<div class="box">
					<div>
						<div id="loginPage" class="body loginPage">
							<h1>Enter Details</h1>
							<form zaction="index.html" method="post" (submit)="onSubmit()">
								<table>
									<tbody>
										<tr>
											<td>login ID*:</td>
											<td><input type="text" value="Vishal" class="txtfield" required></td>
										</tr> <tr>
											<td>Password*:</td>
											<td><input type="password" value="vishal123" class="password"  required></td>
										</tr> 										
										<tr>
											<td><input type="submit"  class="rate"  value="Login"></td>
										</tr>
									</tbody>
								</table>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		