
		<div id="page">
			
			
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Dive Site</h1>
							<ul id="sites">
								<li>
									<a href="dives.html"><img src="assets/images/reef1.jpg" alt="Img"></a>
									<h2><a href="dives.html">Gale Reef</a></h2>
									<p>
										This is a dive site best accessible from Colombo and Mount Lavina. Gale Reef South is flat ground site with rows and rows of Gorgonian Fans
									</p>
									<p>
										Strong currents is expected. And rapid head down descent may required. Our dive master does not use anchors on this site. Redtooth Triggerfish are spotted.
									</p>
								</li>
								<li>
									<a href="dives.html"><img src="assets/images/reef2.jpg" alt="Img"></a>
									<h2><a href="dives.html">Dawson’s Reef</a></h2>
									<p>
										The main pass to enter the lagoon, located in its north-western end, is known as Passe Garuae and it is the largest pass in French Polynesia; the southern pass is called Tumakohua
									</p>
									<p>
										It has a land area of 24.1 square kilometres (9 square miles). Fakarava has 837 inhabitants; the main village is called Rotoava.
									</p>
								</li>
								<li>
									<a href="dives.html"><img src="assets/images/reef3.jpg" alt="Img"></a>
									<h2><a href="dives.html">Claire’s REEF</a></h2>
									<p>
										Darwin Island is the remains of an extinct volcano that reaches 165 metres (541 ft) above sea level. It is situated north-west of the main Galápagos Island group on the Wolf-Darwin Lineament
									</p>
									<p>
										The formation of Darwin Island is different from the formation of the main Galápagos Islands. There are currently two theories on the formation of the lineament
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		