
		<div id="page">

			<div id="contents">
				<div id="adbox">
					<img src="assets/images/sea-sound.jpg" alt="Img">
					<h1>Enjoy the Summer with Us!</h1>
					<p>
						BHACCASYONIZTAS BEACH RESORT, is an ideal gateway for those who are looking to discover a virgin forest kissing the waves of the Arabian Sea. Situated on the Konkan coast with a 5 hours drive from Mumbai and Pune, Lotus Resort Dapoli preserves the culture and architecture of the Konkan within its own ecosystem. Indulge into your own space getting out from mundane day to day life and discover the peaceful forest, pristine beach, or just try out the adventure bug in you within this resort in Murud Dapoli.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
									<li>
										<h4><a href="news.html">2023 Bikini Contest Winners</a></h4>
										<span>April 02, 2023</span>
										<p>
											Get ready for the Miss Steel Horse Rally Bikini Contest! Your vote counts this election year to help choose the Miss Steel Horse Rally People's Choice Award Winner
										</p>
									</li>
									<li>
										<h4><a href="news.html">Top 10 Diving Spots</a></h4>
										<span>May 29, 2023</span>
										<p>
											Diving, sport of plunging into water, usually head foremost, performed with the addition of gymnastic and acrobatic stunts.
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								<p>
									“Very beautiful place with nice management and with hardworking staff. The hygiene level is properly maintained here and perfect for every age group as well as every type of groups.” <span>- <a href="index.html">Mayur Shinde</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a routerLink='/rooms'><img src="assets/images/rooms.png" alt="Img"></a>
					</div>
					<div class="section">
						<a routerLink='/dives'><img src="assets/images/dive-site.png" alt="Img"></a>
					</div>
					<div class="section">
						<a routerLink='/foods'><img src="assets/images/food.png" alt="Img"></a>
					</div>
				</div>
			</div>
		</div>
	

